main {
    background-color: #F39494
}

h1 {
    color: #333333;
    font-size: 36px;
    font-weight: 700;
    line-height: 49.03px;
    font-family: 'Open Sans';
}

p {
    color: #666666;
    font-size: 18px;
    font-weight: 400;
    line-height: 24.51px;
    font-family: 'Open Sans';
}

div {
    color: #333333;
    font-size: 16px;
    font-weight: 600;
    line-height: 21.79px;
    font-family: 'Open Sans';
}

input {
    background-color: #F5F5F5;
}

button {
    background-color: #089FE0;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 400;
    line-height: 24.51px;
    font-family: 'Open Sans';
}