* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    background: linear-gradient(225deg, #fdc5c5 25.45%, rgba(242, 152, 222, 0) 100%), linear-gradient(225deg, #ffa5a5 33.09%, rgba(255, 255, 255, 0) 82.34%), #f39494;
    max-width: 1440px;
    margin: 0 auto;
}

main {
    background: #fffefe;
    border-radius: 10px;
    border: none;
    padding: 72px 95px 91px 93px;
    margin: 0 auto;
    max-width: 582px;
    max-height: 573px;
    text-align: center;
}

h1 {
    color: #333333;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 49.03px;
    margin: 0;
}

p {
    color: #666666;
    font-size: 18px;
    font-weight: 400;
    line-height: 24.51px;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 47px;
    margin-top: 0;
}

#company {
    border: 1px solid #F5F5F5;
    background-color: #fff;
    margin: 0 0 21px 0;
}

#company::placeholder {
    color: #333333;
}

#family {
    border-left: 1px solid #FFFFFF;
    margin-left: 1px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.nameSurname input {
    width: calc(50% - 1px);
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.nameSurname ::placeholder {
    color: #999999;
    font-style: italic;
    font-weight: 400;
    font-size: 16px;
}

.email ::placeholder {
    color: #999999;
    font-style: italic;
    font-weight: 400;
    font-size: 16px;
}

.checkbox {
    font-size: 14px;
    font-weight: 400;
    line-height: 19.07px;
}

.checkbox input {
    width: 15px;
    height: 16px;
}

.checkbox label {
    color: #666666;
}

.checkbox a {
    color: #089FE0;
    text-decoration: none;
}

.customCheckbox {
    position: relative;
    display: inline-block;
    width: 15px;
    height: 16px;
    border: 1px solid rgb(238, 238, 238);
    border-radius: 5px;
    background: rgb(245, 245, 245);
    margin-right: 4px;
    vertical-align: sub;
}

#enter {
    color: #089FE0;
}

input {
    line-height: 24px;
    font-style: italic;
    font-weight: 400;
    font-size: 16px;
    padding: 9px 36px 9px 11px;
    width: 100%;
    border: none;
    border-radius: 5px;
    background-color: #F5F5F5;
    margin: 0 0 22px 0;
}

.arrow img {
    position: absolute;
    top: 10px;
    right: 10px;
}

.arrow button {
    position: relative;
    background-color: #089FE0;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 400;
    line-height: 24.51px;
    font-family: 'Open Sans', sans-serif;
    border: none;
    border-radius: 5px;
    text-align: justify;
    padding: 9px 102px;
    margin-bottom: 22px;
    height: 44px;
    width: 100%;
}