body {
    background: linear-gradient(225deg, #fdc5c5 25.45%, rgba(242, 152, 222, 0) 100%), linear-gradient(225deg, #ffa5a5 33.09%, rgba(255, 255, 255, 0) 82.34%), #f39494;
    width: 1440px;
    height: 1024px;
}

main {
    background: #fffefe;
    border-radius: 10px;
    border: none;
    padding: 93px;
    margin: 0 auto;
}

h1 {
    color: #333333;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 49.03px;
    text-align: center;
    margin-bottom: 0;
}

p {
    color: #666666;
    font-size: 18px;
    font-weight: 400;
    line-height: 24.51px;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 47px;
    margin-top: 0;
}

#company {
    border: 1px solid #F5F5F5;
    border-radius: 5px;
    background-color: #fff;
    padding: 9px 11px;
    margin-bottom: 21px;
    height: 44px;
}

#company::placeholder {
    color: #333333;
}

.nameSurname input {
    border: 1px none;
    background-color: #F5F5F5;
    border-radius: 5px;
    padding: 9px 11px;
    margin-bottom: 22px;
    height: 44px;
}

.nameSurname ::placeholder {
    color: #999999;
    font-style: italic;
    font-weight: 400;
    font-size: 16px;
}

.email input {
    border: 1px none;
    background-color: #F5F5F5;
    border-radius: 5px;
    padding: 9px 11px;
    margin-bottom: 22px;
    height: 44px;
}

.email ::placeholder {
    color: #999999;
    font-style: italic;
    font-weight: 400;
    font-size: 16px;
}

.checkbox {
    font-size: 14px;
    font-weight: 400;
    line-height: 19.07px;
}

.checkbox span {
    color: #666666;
}

.checkbox a {
    color: #089FE0;
    text-decoration: none;
}

#enter {
    color: #089FE0;
}

input {
    background-color: #F5F5F5;
}

.arrow {
    position: relative;
}

.arrow img {
    position: absolute;
    top: 10px;
    left: 340px;
}

.arrow button {
    background-color: #089FE0;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 400;
    line-height: 24.51px;
    font-family: 'Open Sans', sans-serif;
    border: none;
    border-radius: 5px;
    text-align: center;
    padding: 9px 102px;
    margin-bottom: 22px;
    height: 44px;
}