* {
    box-sizing: border-box;
}

body {
    background: linear-gradient(#374151, #111827);
    padding: 0;
    max-width: 1440px;
    margin: 0 auto;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 71px 0 69px;
    max-width: 1080px;
    margin: 0 auto;
    margin-bottom: 81px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

main {
    max-width: 1080px;
    margin: 0 auto;

}

h1 {
    color: #FFFFFF;
    font-size: 24px;
    font-weight: 400;
    line-height: 38px;
    margin-bottom: 30px;
    text-align: center;
}

footer {
    color: #A0A3A9;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
    margin-bottom: 77px;
}

nav a {
    color: #FFFFFF;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    text-decoration: none;
}

nav ul {
    display: flex;
    gap: 52px;
    list-style: none;
}

.menu {
    display: flex;
    align-items: center;
}

#girl {
    max-width: 50px;
    max-height: 50px;
}

#imac {
    border-radius: 5px;
    width: 896px;
    height: 594px;
    margin-bottom: 69px;
}

.search ::placeholder {
    color: #ADB1B7;
}

.search input {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #ADB1B7;
    background-color: #283241;
    border-radius: 100px;
    height: 40px;
    padding: 9px 11px 12px 49px;
    border: 1px solid #283241;
}

.search {
    position: relative;
}

.search :focus {
    outline: none;
}

.search img {
    position: absolute;
    top: 14px;
    left: 18px;
}

#logo {
    color: #FFFFFF;
    background-color: #4B5563;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 22.63px;
    text-decoration: none;
    padding: 6px 12px;
    border: none;
    border-radius: 3px;
    margin-right: 11px;
    box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.15);
}

.link {
    color: #FFFFFF;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.09px;
    text-decoration: none;
}

.section1 {
    text-align: center;
}

section p {
    color: #ADB1B7;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.41px;
}

.author__description {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    margin-bottom: 28px;
}

.author__name {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 175%;
    color: #fff;
    margin-bottom: 0;
}

.author {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.author__position {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 200%;
    color: #ACAFB6;
    margin-top: 0;
}

.heroText {
    color: #FFFFFF;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 62px;
}

.text {
    max-width: 708px;
    margin: 0 auto;
    margin-bottom: 103px;
}

.sectionText {
    color: #FFFFFF;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
}

.sectionText>a {
    color: #FFFFFF;
    text-decoration: underline;
}