body {
    background: linear-gradient(#374151, #111827);
}

header {
    margin: 0 auto;
    padding: 69px 180px;
}

h1 {
    color: #FFFFFF;
    font-size: 24px;
    font-weight: 400;
    line-height: 38px;
    margin: 0 0 30px 0;
    text-align: center;
}

footer {
    color: #A0A3A9;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
}

nav a {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    text-decoration: none;
}

nav ul {
    list-style: none;
}

#girl {
    width: 50px;
    height: 50px;
}

#imac {
    border-radius: 5px;
    width: 896px;
    height: 594px;
}

.search ::placeholder {
    color: #FFFFFF;
}

.search input {
    font-weight: 400;
    font-size: 16px;
    background-color: #283241;
    border-radius: 100px;
    height: 40px;
    padding: 9px 11px 12px 49px;
    border: 1px solid #283241;
    position: absolute;
}

.search img {
    position: relative;
    top: 14px;
    left: 18px;
}

#logo {
    color: #FFFFFF;
    background-color: #4B5563;
    font-size: 18px;
    font-weight: 600;
    line-height: 22.63px;
    text-decoration: none;
    padding: 6px 12px;
    border: none;
    border-radius: 3px;
}

.link {
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.09px;
    text-decoration: none;
}

section p {
    color: #ADB1B7;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.41px;
    margin: 0 0 14px 0;
    width: 180px;
    height: 16px;
}

.author__name {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 175%;
    color: #fff;
}

.author__position {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 200%;
    color: #ACAFB6;
}

.heroText {
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    width: 708px;
    height: 256px;
    margin: 69px 0 62px 0;
}

.sectionText {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    width: 708px;
    height: 100px;
    margin: 0 0 103px 0;

}

.sectionText>a {
    color: #FFFFFF;
    text-decoration: underline;
}